*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  display: flex;
}
li{
  list-style: none;

}
li a{
  color: white;
  text-decoration: none;
  padding: 0.52rem;
}
a.active{
  /* font-size: 2rem; */
  background-color: rgb(224, 13, 224);
  transition: .1s ease-in-out ;
}
.careers > a{
  background-color: rgb(84, 81, 81);
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  padding: 2rem;
  color: white;
  /* width: 100vw; */
  height: fit-content;
}
.careers > a:hover p{
  color: red;
}
.careers > a p:last-child{
  font-size: .8rem;
  color: aliceblue;
}
.career-details{
  background-color: rgba(230, 229, 229, 0.138);
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}
.main-layout{
  height: fit-content;
  background-color: #000000;
  padding-bottom: 3rem;
}
.breadcrumbs a{
  color: white;
}
.breadcrumbs{
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  color: white;
  margin-right: 10px;
}
.breadcrumbs .crumbs::after{
  content: '>';
  margin-left: 10px;
}

.breadcrumbs .crumbs:last-child::after{
  display: none;
}